<html>
    <body>
        <div>
            <center><h1>Informações da Meta</h1></center><br>
            <table align="center" width="50%">
                <tr>
                    <th><h3><b>Titulo</th><td><h3>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @meta.title %></td>
                </tr>
                <tr>
                    <th><h3><b>Descrição</th><td><h3>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @meta.description%></td>
                </tr>
                <tr>
                    <th><h3><b>Aprovado em</th><td><h3>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @meta.aproved_at%></td>
                </tr>
                <tr>
                    <th><h3><b>Criado em</th><td><h3>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @meta.created_at%></td>
                </tr>
                <tr>
                    <th><h3><b>Modificado em</th><td><h3>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @meta.updated_at%></td>
                </tr>
                <tr>
                    <th><h3><b>Unidade</th><td><h3>:&nbsp;&nbsp;&nbsp;&nbsp;<%= @meta.unity%></td>
                </tr>
            </table>
            <form action="/votar?voto=1" method="GET">
                <button type="submit" name="aprovar">Aprovar</button>
            </form>
            <form action="/votar?voto=0" method="GET">
                <button type="button" name="reprovar">Reprovar</button>
            </form>
        </div>
    </body>
</html>
