<!DOCTYPE html>
<html>
  <head>
    <title>Mobilizations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/mobilizations.js"></script>
    <%= yield %>
    <script type="text/javascript">
      <%= yield :js %>
    </script>
  </body>
</html>
